.timerTextDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.timerText {
  margin-bottom: 0;
  align-self: center;
  user-select: none;
  cursor: pointer;
  position: relative;
}

.copyText {
  position: absolute;
  bottom: 23px;
  text-align: center;
  font-size: 10px;
}

.timerSpan {
  margin-right: 15px;
  user-select: none;
  width: 150px;
  box-sizing: border-box;
  display: block;
}

.timerButton {
  width: 150px;
  padding: 0px;
  border-radius: 3px;
  line-height: 20px;
  border: 1px solid rgb(69, 90, 100);
  border-color: #b0bec5;
  transition: all 0.18s ease-in-out 0s;
  height: 32px;
  cursor: pointer;
  background: transparent none repeat scroll 0% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.timerButton:hover {
  border: 1px solid rgb(84, 110, 122);
  background: #eceff1;
}

.timerImg {
  width: 14px;
  height: 14px;
}

.timerButtonLabel {
  width: 98px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}